@import '../../../../theme/variables.scss';

#setting-page__wrapper {
    --ion-background-color: $gray-background;
    background-color: $gray-background;

    .header {
        min-height: 157px;
        background-color: $dark-blue;
    }

    .body {
        .card-header {
            height: 145px ;
        }
    }
}