// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Chubb original color
// --ion-color-turquoise: #01c1d6;
// --ion-color-purple: #6e27c5;
// --ion-color-red: #f1352b;
// --ion-color-orange: #ff6600;
// --ion-color-green: #7acb00;
// --ion-color-yellow: #ffb617;
// --ion-color-dark-blue: #150f96;
// --ion-color-magenta: #ff0198;
// --ion-color-light-gray: #afafaf;
// --ion-color-dark-gray: #4b4e53;

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Chubb Publico";
  // custom color
  --ion-color-turquoise: #01c1d6;
  --ion-color-turquoise-rgb: 1, 193, 214;
  --ion-color-turquoise-contrast: #000000;
  --ion-color-turquoise-contrast-rgb: 0, 0, 0;
  --ion-color-turquoise-shade: #01aabc;
  --ion-color-turquoise-tint: #f2fcfd;
  --ion-color-white: #ffffff;
  --ion-color-orange: #ff6600;

  --ion-color-level-header: rgba(32, 66, 133, 1);
  --ion-color-level-background-filter-item: rgba(255, 255, 255, 0.1);
  --ion-color-toolbar-background: rgba(247, 247, 247, 1);
  --ion-color-level-grandtotal: rgba(0, 113, 180, 1);
  --ion-color-level-0: rgba(101, 155, 208, 1);
  --ion-color-level-1: rgba(183, 210, 236, 1);
  --ion-color-level-2: rgba(217, 231, 245, 1);
  --ion-color-level-3: rgba(236, 243, 250, 1);

  .ion-color-turquoise {
    --ion-color-base: var(--ion-color-turquoise);
    --ion-color-base-rgb: var(--ion-color-turquoise-rgb);
    --ion-color-contrast: var(--ion-color-turquoise-contrast);
    --ion-color-contrast-rgb: var(--ion-color-turquoise-contrast-rgb);
    --ion-color-shade: var(--ion-color-turquoise-shade);
    --ion-color-tint: var(--ion-color-turquoise-tint);
  }

  --ion-color-purple: #6e27c5;
  --ion-color-faux-lavender: #e2e2f4;

  --ion-color-bottom-sheet: #f6f6f6;

  .ion-color-purple {
    --ion-color-base: var(--ion-color-purple);
  }

  --ion-color-red: #f1352b;
  --ion-color-red-rgb: 241, 53, 43;
  --ion-color-red-contrast: #ffffff;
  --ion-color-red-contrast-rgb: 255, 255, 255;
  --ion-color-red-shade: #d42f26;
  --ion-color-red-tint: #ffdad8;

  .ion-color-red {
    --ion-color-base: var(--ion-color-red);
    --ion-color-base-rgb: var(--ion-color-red-rgb);
    --ion-color-contrast: var(--ion-color-red-contrast);
    --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
    --ion-color-shade: var(--ion-color-red-shade);
    --ion-color-tint: var(--ion-color-red-tint);
  }

  --ion-color-red01: rgba(241, 53, 43, 0.1);

  .ion-color-red01 {
    --ion-color-base: var(--ion-color-red01);
  }

  --ion-color-orange: #ff6600;
  --ion-color-orange015: rgb(255, 102, 0, 0.15);

  .ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
  }

  --ion-color-orange01: rgba(255, 102, 0, 0.1);

  .ion-color-orange01 {
    --ion-color-base: var(--ion-color-orange01);
  }

  --ion-color-border: rgba(204, 204, 204, 0.3);

  --ion-color-green: #7acb00;
  --ion-color-green-rgb: 122, 203, 0;
  --ion-color-green-contrast: #000000;
  --ion-color-green-contrast-rgb: 0, 0, 0;
  --ion-color-green-shade: #6bb300;
  --ion-color-green-tint: rgba(122, 203, 0, 0.1);

  .ion-color-green {
    --ion-color-base: var(--ion-color-green);
    --ion-color-base-rgb: var(--ion-color-green-rgb);
    --ion-color-contrast: var(--ion-color-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-green-shade);
    --ion-color-tint: var(--ion-color-green-tint);
  }

  --ion-color-green01: rgba(122, 203, 0, 0.1);

  .ion-color-green01 {
    --ion-color-base: var(--ion-color-green01);
  }

  --ion-color-yellow: #ffb617;

  .ion-color-yellow {
    --ion-color-base: var(--ion-color-yellow);
  }

  --ion-color-dark-blue: #150f96;

  .ion-color-dark-blue {
    --ion-color-base: var(--ion-color-dark-blue);
  }

  --ion-color-light-blue: rgb(1, 193, 214);
  --ion-color-light-blue015: rgb(1, 193, 214, 0.15);

  .ion-color-light-blue {
    --ion-color-base: var(--ion-color-light-blue);
  }

  --ion-color-magenta: #ff0198;

  .ion-color-magenta {
    --ion-color-base: var(--ion-color-magenta);
  }

  --ion-color-light-gray: #afafaf;
  --ion-color-pale-gray: #f4f4f4;

  .ion-color-light-gray {
    --ion-color-base: var(--ion-color-light-gray);
  }

  --ion-color-light-gray015: rgba(175, 175, 175, 0.15);

  .ion-color-light-gray015 {
    --ion-color-base: var(--ion-color-light-gray015);
  }

  --ion-color-light-gray-back_ground: #e5e5e5;

  --ion-color-dark-gray: #4b4e53;
  --ion-color-dark-gray08: #4b4e53cc;
  --ion-color-dark-gray-rgb: 75, 78, 83;
  --ion-color-dark-gray-contrast: #ffffff;
  --ion-color-dark-gray-contrast-rgb: 255, 255, 255;
  --ion-color-dark-gray-shade: #424549;
  --ion-color-dark-gray-tint: rgba(175, 175, 175, 0.1);
  --ion-color-sky-gray: #d7d7d7;

  .ion-color-dark-gray {
    --ion-color-base: var(--ion-color-dark-gray);
    --ion-color-base-rgb: var(--ion-color-dark-gray-rgb);
    --ion-color-contrast: var(--ion-color-dark-gray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-gray-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-gray-shade);
    --ion-color-tint: var(--ion-color-dark-gray-tint);
  }

  --ion-color-very-light-gray: #f1f1f1;

  .ion-color-very-light-gray {
    --ion-color-base: var(--ion-color-very-light-gray);
  }
  --ion-color-border-light-grey: rgba(204, 204, 204, 0.3);
  --ion-color-gray-80: #cccccc;

  .ion-color-gray-80 {
    --ion-color-base: var(--ion-color-gray-80);
  }

  --ion-color-black: #000000;

  .ion-color-black {
    --ion-color-base: var(--ion-color-black);
  }

  --ion-color-white: #ffffff;
  --ion-color-approx-ghost-white: #f3f3fa;
  --ion-color-alert-background: #f9f9f9;

  .ion-color-white {
    --ion-color-base: var(--ion-color-white);
  }
  --ion-color-step-400: #666666;

  // Non-chubb color
  --ion-color-faint: #f5f5f5;

  .ion-color-faint {
    --ion-color-base: var(--ion-color-faint);
  }

  --ion-color-faint-noti-unread: #f2fcfd;

  .ion-color-faint-noti-unread {
    --ion-color-base: var(--ion-color-faint-noti-unread);
  }

  --ion-color-gray05: rgba(204, 204, 204, 0.5);

  .ion-color-gray05 {
    --ion-color-base: var(--ion-color-gray05);
  }

  --ion-color-gray03: rgba(204, 204, 204, 0.3);

  .ion-color-gray03 {
    --ion-color-base: var(--ion-color-gray03);
  }

  --ion-color-faint-noti-unread: #f2fcfd;

  .ion-color-faint-noti-unread {
    --ion-color-base: var(--ion-color-faint-noti-unread);
  }

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

$dark-blue: #150f96;
$turquoise: #01c1d6;
$variant1: #E2F5F7;
$green-variant1: #F2FAE6;
$red: #f1352b;
$purple: #6e27c5;
$orange: #ff6600;
$green: #7acb00;
$yellow: #ffb617;
$magenta: #ff0198;
$black: #000000;
$dark-gray: #4b4e53;
$light-gray: #afafaf;
$white: #ffffff;
$background: #F9F9F9;
$label: #6f7175;
$place-holder: #bfbfbf;
$dark-border: #cccccc;
$light-border: #e5e5e5;
$gray-background: #f5f5f5;
$error-background: #feebea;
$hight-light: #d0cfea;
$border-light: rgba(204, 204, 204, 0.5);
$table-divider: rgba(0,0,0,.12);
$custom-option: #f1f1f1;
$custom-background: rgba(204, 204, 204, 0.4);
